#include <windows.h>
#include "resource.h"

IDM_POPUPMENU MENU PRELOAD DISCARDABLE
BEGIN
	POPUP	""
	BEGIN
		MENUITEM	"Close",	IDM_POPUP_CLOSE
	END
END

IDI_MAINWINDOW		ICON	DISCARDABLE		"main.ico"
IDI_NOACCESS		ICON	DISCARDABLE		"IconNA.ico"
IDI_READONLY		ICON	DISCARDABLE		"IconRd.ico"
IDI_WRITEDONLY		ICON	DISCARDABLE		"IconWt.ico"
IDI_READWRITED		ICON	DISCARDABLE		"IconRW.ico"
IDI_SOMEERROR		ICON	DISCARDABLE		"IconNG.ico"
